pyTelegramBotAPI
watchdog
Эти расширения нужны для корректной работы бота 
Watchdog - Это плагин, который позволяет отслеживать изменения в реальном времени. 
В ходе работы было замечено, что после каждых изменений приходится перезапускать бота, что довольно не удобно.
Структура файлов:
1) В папке db лежит код days.db для создания базы данных SQLite, SQLite очень быстро разворачивается, и стабильно работает во время загруженности бота.
2) imdays.db это база данных, где будут храниться сами данные.
3) main.py это основной функционал бота, в нем содержатся все необходимые функции, кнопки и комманды
4) run.py это скрипт для watchdog, он непосредственно нужен для запуска бота
5) test.db это тестовая база данных, была созданна для проверки соединения бота с базой
